<?xml version="1.0" encoding="UTF-8"?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.iooc.agv.mapper.RfidMapper">

	<resultMap id="rfidMap" type="com.iooc.agv.model.RfidInfo">
		<id column="RfidNo" property="rfidNo" />
		<result column="RfidX" property="rfidX" />
		<result column="RfidY" property="rfidY" />
	</resultMap>

	<select id="selectAllRfids" resultMap="rfidMap">
		SELECT RfidNo, RfidX, RfidY FROM RfidToCoordinate
	</select>
	
	<select id="selectOneRfid" resultMap="rfidMap" parameterType="Integer">
		SELECT RfidNo, RfidX, RfidY FROM RfidToCoordinate WHERE RfidNo = #{rfidNo} 
	</select>
	
	<insert id="insertRfid" parameterType="com.iooc.agv.model.RfidInfo">
		INSERT INTO RfidToCoordinate (RfidNo, RfidX, RfidY)  values(#{rfidNo}, #{rfidX}, #{rfidY})
	</insert>
	
	<delete id="deleteRfid"></delete>
	
	<update id="updateRfid"></update>
</mapper>

