<?xml version="1.0" encoding="UTF-8"?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hogun.agv.mapper.UserMapper">

	<resultMap id="userMap" type="com.hogun.agv.model.User">
		<id column="U_Id" property="userID" />
		<result column="U_Name" property="userName" />
		<result column="U_Password" property="password" />
		<result column="U_Level" property="userLevel" />
	</resultMap>


	<select id="selectAllUser" resultMap="userMap">
		SELECT U_Id, U_Name, U_Password, U_Level FROM UserInfo
	</select>
</mapper>










